// BOX SIZING
* {box-sizing: border-box;}
html, body { height: 100%; }  

// LAYOUT RESPONSIVE TYPE SCALING FOR BREAK POINT
//14px ON SMALL SCREENS (MOBILE)
//16PX ON MEDIUM SCREENS (TABLET)
//18PX ON LARGE SCREENS (DESKTOP)

body {
    font-size: 87.5%;
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    padding: 0 4%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%; // 16px
    }
}

@media (min-width:$breakpoint-medium) {
    .container {
        max-width: $breakpoint-medium - 50  
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5% // 18px
    }
}
